body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #101010;
}

.container {
  max-width: 100%;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 68.7em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8.7em;
}
.nav__logo {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1100px) {
  .nav__logo {
    margin-left: 4em;
  }
}
.nav__logo::before {
  content: "";
  background-image: url(img/logo-icon.svg);
  background-repeat: no-repeat;
  width: 29px;
  height: 29px;
  margin-right: 7px;
}
.nav__item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  margin-right: 23px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item:hover {
  color: rgb(61, 21, 21);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.nav__button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 28px;
  border: 1px solid #ffffff;
  border-radius: 6px;
}
.nav__button:hover {
  background-color: #7c2029;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  border: 1px solid #7c2029;
}

@media screen and (max-width: 1100px) {
  .nav__items,
.nav__button {
    display: none;
  }
}
.burger-menu {
  display: none;
}

@media screen and (max-width: 1100px) {
  .burger-menu {
    display: block;
  }
}
#menu__toggle {
  position: absolute;
  display: none;
}

.menu__btn {
  display: block;
  position: relative;
  left: 85%;
  bottom: 9.5em;
  width: 100%;
  max-width: 40px;
  cursor: pointer;
}

@media all and (max-width: 490px) {
  .menu__btn {
    left: 80%;
  }
}
@media all and (max-width: 380px) {
  .menu__btn {
    left: 75%;
  }
}
.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  max-width: 2.2em;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 30;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.menu__btn span::before {
  content: "";
  top: -9px;
}

.menu__btn span::after {
  content: "";
  top: 9px;
}

.menu__box {
  display: block;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  padding-top: 30px;
  margin-top: 2em;
  margin-right: 2em;
  top: 0;
  width: 50%;
  max-width: 25em;
  max-height: 20em;
  height: 100%;
  background: #ffffff;
  border-radius: 20px;
  text-align: center;
  z-index: 3;
}

.menu__item {
  display: block;
  margin-top: 1.3em;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  color: #af1717;
}
.menu__item:hover {
  color: #531818;
}

.menu__item-btn {
  position: relative;
  top: 3em;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 28px;
  background-color: #7c2029;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  border: 1px solid #7c2029;
  border-radius: 6px;
}

#menu__toggle:checked ~ .menu__btn span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #f2726f;
}

#menu__toggle:checked ~ .menu__btn span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #f2726f;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.main {
  height: 100%;
  min-height: 75vh;
  text-align: center;
}
.main__wrapper {
  background-image: url(img/main-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 3.7em;
  padding-bottom: 11.6em;
  margin-bottom: 5.8em;
}
@media screen and (max-width: 1060px) {
  .main__wrapper {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: 3em;
  }
}
.main__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0 0 39px 0;
}
@media screen and (max-width: 620px) {
  .main__title {
    font-size: 50px;
    line-height: 40px;
  }
}
@media screen and (max-width: 530px) {
  .main__title {
    font-size: 30px;
    line-height: 40px;
  }
}
.main__subscription {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  width: 100%;
  max-width: 31.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
}
@media screen and (max-width: 620px) {
  .main__subscription {
    font-size: 18px;
    line-height: 20px;
  }
}
.main__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ed4c5c;
  padding: 17px 53px;
  background: #ffffff;
  border-radius: 6px;
  border: none;
  max-width: 100%;
  cursor: pointer;
}
.main__button:hover {
  color: #ffffff;
  background-color: #7c2029;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.management {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5.9em;
}
@media screen and (max-width: 1100px) {
  .management {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 3em;
  }
}
.management__content {
  display: block;
  margin-right: 7.8rem;
}
@media screen and (max-width: 1100px) {
  .management__content {
    margin-right: 0;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 470px) {
  .management__content {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
.management__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  width: 27.8rem;
  max-width: 100%;
}
@media screen and (max-width: 530px) {
  .management__title {
    font-size: 26px;
    line-height: 30px;
  }
}
.management__subscription {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000000;
  width: 27.8rem;
  max-width: 100%;
}
@media screen and (max-width: 530px) {
  .management__subscription {
    line-height: 100%;
  }
}
.management__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #ed4c5c;
  text-decoration: none;
  cursor: pointer;
}
.management__link:hover {
  color: #1c760a;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.management__img {
  width: 27.8rem;
  max-width: 100%;
}
@media screen and (max-width: 470px) {
  .management__img {
    max-width: 80%;
  }
}

.features {
  padding-top: 3.9em;
  background-color: #fafafa;
}
@media screen and (max-width: 620px) {
  .features {
    padding-top: 0;
  }
}
.features__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  text-align: center;
}
@media screen and (max-width: 530px) {
  .features__title {
    font-size: 26px;
    line-height: 30px;
  }
}
.features__groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 69.5em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1100px) {
  .features__groups {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
.features__group {
  width: 21.8em;
  max-width: 100%;
}
@media screen and (max-width: 380px) {
  .features__group {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.features__img {
  width: 100%;
  max-width: 21.8em;
  position: relative;
  z-index: 1;
}
.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 6em;
  z-index: 3;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 18.3em;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 25px;
}
@media screen and (max-width: 380px) {
  .features__content {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.features__content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 14.3em;
}
@media screen and (max-width: 380px) {
  .features__content-title {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.features__subscription {
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  width: 100%;
  max-width: 16em;
}
.features__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #ed4c5c;
  text-decoration: none;
  cursor: pointer;
}
.features__link:hover {
  color: #1c760a;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.technology {
  padding-top: 3.9em;
  padding-bottom: 6.5em;
}
@media screen and (max-width: 1060px) {
  .technology {
    padding: 3em 0 3em 0;
  }
}
@media screen and (max-width: 620px) {
  .technology {
    padding: 0;
  }
}
.technology__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 530px) {
  .technology__title {
    font-size: 26px;
    line-height: 30px;
  }
}
.technology__groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 65.4em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1100px) {
  .technology__groups {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (max-width: 920px) {
  .technology__groups {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 690px) {
  .technology__groups {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 44% 1em 44%;
    grid-template-columns: 44% 44%;
    -ms-grid-rows: 20% 1em 20%;
    grid-template-rows: 20% 20%;
    gap: 1em;
    margin-top: 3em;
    margin-bottom: -35em;
  }
  .technology__groups > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .technology__groups > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .technology__groups > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .technology__groups > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
.technology__group {
  margin-right: 6.5em;
}
.technology__group:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 920px) {
  .technology__group {
    margin-right: 1em;
  }
}
.technology__group-number {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  color: rgba(16, 16, 16, 0.08);
}
@media screen and (max-width: 450px) {
  .technology__group-number {
    font-size: 85px;
  }
}
.technology__group-content {
  display: block;
  position: relative;
  z-index: 3;
  bottom: 10em;
  text-align: center;
}
.technology__group-img {
  width: 100%;
  max-width: 4.3em;
  height: 3em;
  max-width: 100%;
}
.technology__group-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
}
@media screen and (max-width: 450px) {
  .technology__group-title {
    font-size: 16px;
  }
}
.technology__group-subscription {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000000;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 530px) {
  .technology__group-subscription {
    line-height: 100%;
  }
}
@media screen and (max-width: 690px) {
  .technology__group-subscription {
    max-width: 11.5em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1060px) {
  .technology {
    padding: 3em 0 3em 0;
  }
}
.saving {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 920px) {
  .saving {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.saving__wrapper {
  background: #ed4c5c;
  padding-top: 5.9em;
  padding-bottom: 5.9em;
}
@media screen and (max-width: 1060px) {
  .saving__wrapper {
    padding: 3em 0 3em 0;
  }
}
.saving__content {
  width: 27.8em;
  max-width: 100%;
}
@media screen and (max-width: 920px) {
  .saving__content {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 470px) {
  .saving__content {
    max-width: 80%;
  }
}
.saving__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  color: #ffffff;
  margin-bottom: 1.5em;
}
@media screen and (max-width: 530px) {
  .saving__title {
    font-size: 26px;
    line-height: 30px;
  }
}
.saving__subscription {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000000;
  color: #ffffff;
  margin-bottom: 2.5em;
}
@media screen and (max-width: 530px) {
  .saving__subscription {
    line-height: 100%;
  }
}
.saving__link {
  margin-right: 1.4em;
}
.saving__link:last-child {
  margin-right: 0;
}
.saving__link-img {
  width: 2em;
  max-width: 100%;
}
.saving__img {
  width: 100%;
  max-width: 27.8em;
}
@media screen and (max-width: 470px) {
  .saving__img {
    max-width: 80%;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7.3em;
  padding-bottom: 7.6em;
}
@media screen and (max-width: 1060px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3em 0 3em 0;
  }
}
.contact__content {
  margin-right: 7.1em;
}
@media screen and (max-width: 1060px) {
  .contact__content {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 580px) {
  .contact__content {
    margin-right: 0;
  }
}
@media screen and (max-width: 470px) {
  .contact__content {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
}
.contact__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}
@media screen and (max-width: 530px) {
  .contact__title {
    font-size: 26px;
    line-height: 30px;
  }
}
.contact__subscription {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000000;
  width: 27em;
}
@media screen and (max-width: 530px) {
  .contact__subscription {
    line-height: 100%;
  }
}
@media screen and (max-width: 470px) {
  .contact__subscription {
    max-width: 80%;
  }
}
.contact__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5em 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1.5em 1fr 1.5em 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5em;
  width: 100%;
  max-width: 33.7em;
}
.contact__form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.contact__form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.contact__form > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.contact__form > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.contact__form > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.contact__form > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
@media screen and (max-width: 1100px) {
  .contact__form {
    -ms-grid-columns: 40% 1em 40%;
    grid-template-columns: 40% 40%;
    -ms-grid-rows: 18% 1em 18% 1em 18% 1em 18%;
    grid-template-rows: 18% 18% 18% 18%;
    gap: 1em;
  }
  .contact__form > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contact__form > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .contact__form > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact__form > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .contact__form > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .contact__form > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .contact__form > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .contact__form > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
}
@media screen and (max-width: 580px) {
  .contact__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 40% 40%;
    grid-template-columns: 40% 40%;
    -ms-grid-rows: 15% 15% 15% 18%;
    grid-template-rows: 15% 15% 15% 18%;
  }
  .contact__form > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contact__form > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .contact__form > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .contact__form > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .contact__form > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact__form > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .contact__form > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .contact__form > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
}
@media screen and (max-width: 420px) {
  .contact__form {
    -ms-grid-rows: 15% 15% 15% 15%;
    grid-template-rows: 15% 15% 15% 15%;
  }
}
.contact__button {
  padding: 17px 34px;
  width: 10rem;
  max-width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ed4c5c;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.contact__button:hover {
  background-color: #7c2029;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
@media screen and (max-width: 420px) {
  .contact__button {
    font-size: 13px;
    padding: 10px 13px;
  }
}

.contact input {
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 21px 0 21px 31px;
}
@media screen and (max-width: 380px) {
  .contact input {
    font-size: 14px;
  }
}

.contact input:nth-child(3),
.contact input:nth-child(4) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.footer {
  width: 100%;
  max-width: 67.3em;
  margin-left: auto;
  margin-right: auto;
}
.footer__wrapper {
  padding-top: 5.3em;
  padding-bottom: 5.3em;
  background: #fafafa;
}
.footer__groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .footer__groups {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (max-width: 620px) {
  .footer__groups {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 1.5em 30%;
    grid-template-columns: 30% 30%;
    -ms-grid-rows: 50%;
    grid-template-rows: 50%;
    gap: 1.5em;
  }
  .footer__groups > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer__groups > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (max-width: 380px) {
  .footer__groups {
    -ms-grid-columns: 30% 2em 20%;
    grid-template-columns: 30% 20%;
    gap: 2em;
  }
}
.footer__group:first-child {
  width: 10.8em;
}
.footer__group-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 2em;
}
@media screen and (max-width: 380px) {
  .footer__group-title {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 1em;
  }
}
.footer__group-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__group-link {
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;
  color: #000000;
}
.footer__group-link:hover {
  color: brown;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.footer__group-socials {
  margin-top: 12px;
}
.footer__copyright {
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;
  color: #000000;
  margin-top: 8.3em;
}
.footer__copyright:hover {
  color: brown;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
@media screen and (max-width: 1100px) {
  .footer__copyright {
    margin-left: 8em;
  }
}
@media screen and (max-width: 620px) {
  .footer__copyright {
    margin-top: 2em;
    margin-left: 0;
    text-align: center;
  }
}

.footer__group-items .footer__group-link {
  margin-bottom: 12px;
}
.footer__group-items .footer__group-link:last-child {
  margin-bottom: 0;
}

.footer__group-socials .footer__group-link-img {
  margin-right: 12px;
}

.footer__group-socials .footer__group-link:nth-child(3) .footer__group-link-img {
  margin-right: 0;
}

.footer__group:nth-child(4) .footer__group-link-img {
  width: 13.5em;
  max-width: 100%;
}

.footer__group:nth-child(1) .footer__group-link {
  width: 100%;
  max-width: 11.8em;
  margin: 0;
}