@mixin title {
	font-family: "Lato";
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
}
@mixin navigation {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}
@mixin link-more {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	text-align: justify;
	color: #ed4c5c;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: #1c760a;
		transition: ease-in 0.3s;
	}
}
@mixin subscription {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	text-align: justify;
	color: #000000;
}
@mixin links {
	text-decoration: none;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	line-height: 160%;
	text-transform: capitalize;
	color: #000000;
	&:hover {
		color: brown;
		transition: ease-in 0.3s;
	}
}

body {
	font-family: "Lato", sans-serif;
	font-style: normal;
	color: #101010;
}
.container {
	max-width: 100%;
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 1100px) {
	.container {
		padding: 10px 20px;
	}
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 68.7em;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 8.7em;

	&__logo {
		@include navigation;
		display: flex;
		align-items: center;

		&::before {
			content: "";
			background-image: url(img/logo-icon.svg);
			background-repeat: no-repeat;
			width: 29px;
			height: 29px;
			margin-right: 7px;
		}
	}

	&__item {
		@include navigation;
		margin-right: 23px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: rgb(61, 21, 21);
			transition: ease-in 0.3s;
		}
	}

	&__button {
		@include navigation;
		padding: 12px 28px;
		border: 1px solid #ffffff;
		border-radius: 6px;
		&:hover {
			background-color: #7c2029;
			transition: ease-in 0.3s;
			border: 1px solid #7c2029;
		}
	}
}
@media screen and (max-width: 1100px) {
	.nav__items,
	.nav__button {
		display: none;
	}
}
// BURGER MENU
.burger-menu {
	display: none;
}
@media screen and (max-width: 1100px) {
	.burger-menu {
		display: block;
	}
}
#menu__toggle {
	position: absolute;
	display: none;
}
.menu__btn {
	display: block;
	position: relative;
	left: 85%;
	bottom: 10em;
	width: 40px;
	cursor: pointer;
}
@media all and (max-width: 850px) {
	.menu__btn {
		bottom: 11em;
		left: 70%;
	}
}
@media all and (max-width: 400px) {
	.menu__btn {
		bottom: 11em;
		left: 85%;
	}
}
.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #ffffff;
	border-radius: 10px;
	z-index: 30;
	transition: ease-in-out 0.3s;
}
.menu__btn span::before {
	content: "";
	top: -9px;
}
.menu__btn span::after {
	content: "";
	top: 9px;
}
.menu__box {
	display: block;
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	padding-top: 30px;
	margin-top: 2em;
	margin-right: 2em;
	top: 0;
	width: 50%;
	max-width: 25em;
	max-height: 33em;
	height: 100%;
	background: #ffffff;
	border-radius: 20px;
	text-align: center;
	z-index: 3;
}

.menu__item {
	display: block;
	margin-top: 1em;
	font-weight: 700;
	font-size: 20px;
	color: #af1717;
	text-decoration: none;
	&:hover {
		color: #250303;
	}
}

.menu__button {
	@include navigation;
	padding: 12px 28px;
	background-color: #7c2029;
	transition: ease-in 0.3s;
	border: 1px solid #7c2029;
	border-radius: 6px;
}

#menu__toggle:checked ~ .menu__btn span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn span::before {
	top: 0;
	transform: rotate(0);
	background-color: #f2726f;
}
#menu__toggle:checked ~ .menu__btn span::after {
	top: 0;
	transform: rotate(90deg);
	background-color: #f2726f;
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
}

.main {
	text-align: center;
	&__wrapper {
		background-image: url(img/main-bg.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 3.7em;
		padding-bottom: 11.6em;
		margin-bottom: 5.8em;
	}

	&__title {
		font-weight: 700;
		font-size: 72px;
		line-height: 86px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #ffffff;
		text-align: center;
		margin: 0 0 39px 0;
	}

	&__subscription {
		font-weight: 600;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
		color: #ffffff;
		width: 31.5em;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 39px;
	}

	&__button {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #ed4c5c;
		padding: 17px 53px;
		background: #ffffff;
		border-radius: 6px;
		border: none;
		max-width: 100%;
		cursor: pointer;
		&:hover {
			color: #ffffff;
			background-color: #7c2029;
			transition: ease-in 0.3s;
		}
	}
}
.management {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5.9em;

	&__content {
		display: block;
		margin-right: 7.8rem;
	}

	&__title {
		@include title;
		width: 27.8rem;
		max-width: 100%;
	}

	&__subscription {
		@include subscription;
		width: 27.8rem;
		max-width: 100%;
	}

	&__link {
		@include link-more;
	}

	&__img {
		width: 27.8rem;
		max-width: 100%;
	}
}

.features {
	padding-top: 3.9em;
	background-color: #fafafa;
	&__title {
		@include title;
		text-align: center;
	}
	&__groups {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 69.5em;
		margin-left: auto;
		margin-right: auto;
		@media screen and (max-width: 1100px){
			flex-direction: column;
		}
	}
	&__group {
		width: 21.8em;
		max-width: 100%;
	}

	&__img {
		width: 21.8em;
		max-width: 100%;
		position: relative;
		z-index: 1;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		bottom: 6em;
		z-index: 3;
		background: #ffffff;
		box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		width: 18.3em;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 25px;
	}

	&__content-title {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		width: 14.3em;
	}

	&__subscription {
		font-size: 12px;
		line-height: 150%;
		text-align: center;
		width: 14.3em;
	}

	&__link {
		@include link-more;
	}
}
.technology {
	padding-top: 3.9em;
	padding-bottom: 6.5em;

	&__title {
		@include title;
		text-align: center;
		margin: 0;
	}
	&__groups {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 65.4em;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	&__group {
		margin-right: 6.5em;
		&:last-of-type {
			margin-right: 0;
		}
	}

	&__group-number {
		position: relative;
		z-index: 1;
		font-weight: 700;
		font-size: 100px;
		line-height: 120px;
		text-align: center;
		color: rgba(16, 16, 16, 0.08);
	}

	&__group-content {
		display: block;
		position: relative;
		z-index: 3;
		bottom: 10em;
		text-align: center;
	}

	&__group-img {
		width: 4.3em;
		height: 3em;
		max-width: 100%;
	}

	&__group-title {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
	}

	&__group-subscription {
		@include subscription;
		font-size: 12px;
		width: 11.9em;
		text-align: center;
	}
}
.saving {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	&__wrapper {
		background: #ed4c5c;
		padding-top: 5.9em;
		padding-bottom: 5.9em;
	}

	&__content {
		width: 27.8em;
	}

	&__title {
		@include title;
		color: #ffffff;
		margin-bottom: 1.5em;
	}

	&__subscription {
		@include subscription;
		color: #ffffff;
		margin-bottom: 2.5em;
	}

	&__link {
		margin-right: 1.4em;
		&:last-child {
			margin-right: 0;
		}
	}

	&__link-img {
		width: 2em;
		max-width: 100%;
	}

	&__img {
		width: 27.8em;
		max-width: 100%;
	}
}
.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 7.3em;
	padding-bottom: 7.6em;

	&__content {
		margin-right: 7.1em;
	}

	&__title {
		@include title;
	}

	&__subscription {
		@include subscription;
		width: 27em;
	}

	&__form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 1.5em;
		width: 33.7em;
		max-width: 100%;
	}
	&__button {
		padding: 17px 34px;
		width: 10rem;
		max-width: 100%;
		text-align: center;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #ffffff;
		background: #ed4c5c;
		border: none;
		border-radius: 6px;
		cursor: pointer;
		&:hover {
			background-color: #7c2029;
			transition: ease-in 0.3s;
		}
	}
}
.contact input {
	border: 1px solid #333333;
	border-radius: 6px;
	padding: 21px 0 21px 31px;
}
.contact input:nth-child(3),
.contact input:nth-child(4) {
	grid-column-start: 1;
	grid-column-end: 3;
}
.footer {
	width: 67.3em;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

	&__wrapper {
		padding-top: 5.3em;
		padding-bottom: 5.3em;
		background: #fafafa;
	}
	&__groups {
		display: flex;
		justify-content: space-between;
	}
	&__group {
		&:first-child {
			width: 10.8em;
		}
	}

	&__group-title {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		margin: 0;
		margin-bottom: 2em;
	}

	&__group-items {
		display: flex;
		flex-direction: column;
	}

	&__group-link {
		@include links;
	}

	&__group-socials {
		margin-top: 12px;
	}

	&__copyright {
		@include links;
		margin-top: 8.3em;
	}
}
.footer__group-items .footer__group-link {
	margin-bottom: 12px;
	&:last-child {
		margin-bottom: 0;
	}
}
.footer__group-socials .footer__group-link-img {
	margin-right: 12px;
}
.footer__group-socials .footer__group-link:nth-child(3) .footer__group-link-img {
	margin-right: 0;
}
.footer__group:nth-child(4) .footer__group-link-img {
	width: 13.5em;
	max-width: 100%;
}
